@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tiptap 에디터 */
.ProseMirror {
  min-height: 400px;
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #aaa;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
